
h1{
  font-size: 50px;
  margin: 15px 0px;
  line-height: 1;
}
h2{
 margin: 5px 0px;
}
p{
  padding: 3px;
}
.colour_pop{
  color: rgba(55, 89, 193, 0.6);
}

#EquipmentAnchor, #RecordingAnchor, #MasteringAnchor {
  position: relative;
  top: -20px;
}


.content_wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 15px 0;
}

.images{
  width: 300px;
  margin: 0 auto;
  padding: 15px 0; 
}


/* Three columns side by side */
.column{
  float: left;
  width: 30%;
  margin-bottom: 18px;
  padding: 0 10px;
}


/* Display the columns below each other instead of side by side on small screens */

@media screen and (min-width: 1856px) {
  h1 .colour_pop {
    font-size: 70px;
  }
}


@media screen and (max-width: 1646px) {
  h1 {
    font-size: 43px;
    line-height: 1;
    margin: 20px 0;
  }
}

/* @media screen and (min-width: 1470px) {
  .resume{
    max-width: 50%;
    margin-right: 10px;
    float: left;
  }
} */

@media screen and (max-width: 1469px) {
  /* .resume{
    max-width: 100%;
    margin-right: 10px;
  } */
  h1 {
    font-size: 40px;
    line-height: 1;
    margin: 15px 0;
  }
}



@media screen and (min-width: 1350px) {
  .column {
    width: 45%;
    display: block;
  }
}
@media screen and (min-width: 1250px) {
.content_wrap {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
  padding: 15px 0;
}
}

@media screen and (max-width: 1130px) {
  .column {
    width: 45%;
    display: block;
  }
}

@media screen and (max-width: 907px) {
  h1 {
    font-size: 25px;
    line-height: 1;
    margin: 15px 0;
  }
}

@media screen and (max-width: 765px) {
  .column {
    width: 100%;
    display: block;
  }
}
/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: white;
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px 0;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  transition: .3s ease background-color;
  text-decoration: none;
  margin-bottom: 10px;
}

.button:hover {
  background-color: #555;
}

.review {
    color: grey;
    font-size: 30px;
}

.contactbtn{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: red;
  background-color: rgba(55, 89, 193, 0.6);
  text-align: center;
  cursor: pointer;
  width: 100%;
  transition: .3s ease background-color;
  font-size: 20px;
}

.contactbtn:hover{
  background-color: #555;
}
